@font-face {
    font-family: '4OjW';
    src: url(../fontes/HeroesAssembleAcademyregular-4OjW.otf);
}
@font-face {
    font-family: 'rRyy';
    src: url(../fontes/AvengeanceHeroicAvengerItalic-rRyy.ttf);
}
@font-face {
    font-family: 'play';
    src: url(../fontes/Game\ Played\ Outline.otf);
}